@import 'styles/utils.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-attachment: fixed;
  transition: all 500ms ease-in-out;
  @include bgGrad;

  section {
    width: 100%;
    min-height: 100vh;

    &:first-of-type {
      min-height: 30vh;
    }
  
    iframe {
      display: block;
    }
  }
}

h1, h2 {
  font-size: 16vw;
  margin: 0;
  margin-left: -.1em;
  margin-bottom: -0.21em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
